html(lang="en-gb")
  head
    title CNID
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/core.css")
    link(rel="stylesheet", href="/css/articles_list.css")
  body
    main(class="articles")
      h1 CNID
      ul(class="articles__list")
        each article in articles
          li(class="articles__item")
            h2(class="articles__item-heading")
              a(href=`/article/${article.id}`)= article.title
            img(data-src=article.cover, class="articles__item-image js-image"
                alt="we should get some real alt text for these images")
    script.
      document.addEventListener("DOMContentLoaded", function(event) {
        const images = document.querySelectorAll(".js-image")
        const config = {
          rootMargin: "50px 0px",
          threshold: 0.01
        }

        let observer = new IntersectionObserver(onIntersection, config)
        images.forEach(image => {
          observer.observe(image)
        })

        function onIntersection(entries) {
          entries.forEach(entry => {
            if (entry.intersectionRatio > 0) {
              observer.unobserve(entry.target)
              entry.target.src = entry.target.dataset.src
            }
          })
        }
     })
